@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {  
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #343E48;
    overflow-x: hidden;
}

.header {
    background-color: #189DE4;
    width: 411px;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}
.search {
    width: 100px;
    height: 25px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.title {
    color: white;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

}

.klass {
    color: white;
    font-size: 24px;
    margin: 16px;
}

.button {
    height: 50px;
    width: 100px;
}

.item-button {
    width: auto;
    height: 20px;
    background-color: white;
}

.menu-btn {
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    color: black;
    padding: 16px;
    font-size: 24px;
    width: 379px;
    border: black solid 1px;
    user-select: none;
}

.dropdown-menu {
    padding: 16px;
}

.menu-content {
    display: none;
    background-color: #017575;
    min-width: 160px;
    user-select: none;
}

.lesson1, .lesson2, .lesson3 {
    color: black;
    text-decoration: none;
    display: block;
    font-size: 30px;
    border: 1px solid black;
    user-select: none;
}

.lesson1 {
    background-color: #FF4E4C;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 7px;
}

.lesson2 {
    background-color: #52B7E9;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 7px;
}

.upper-half {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lower-half {
    display: flex;
}

.room {
    border-right: solid black 1px;
    margin-right: 1rem;
    padding-right: 1rem;
}

.break {
    background-color: #146CA4;
    text-align: center;
    color: white;
    padding: 5px;
    border: solid 1px black;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
  
#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.search-overlay {
    width: 379px;
    height: 273px;
    background-color: white;
    border: black solid 1px;
}

.overlay-header {
    background-color: #189DE4;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.overlay-text {
    display: flex;
    font-size: 24px;
    padding: 5px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.x-button {
    display: flex;
    font-size: 2rem;
    padding-right: 5px;
}

.nupud {
    background-color: #189DE4;
    width: auto;
    height: 45px;
    margin-top:1rem;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid white;
    border-radius: 5px;
}

.select-menu {
    width: 379px;
    height: 40px;
    background-color: #189DE4;
    color: white;
    border: white solid 1px;
    border-radius: 5px;
    font-size: 15px;
}

option {

}
