@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {  
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #343E48;
    overflow-x: hidden;
}

.header {
    background-color: #189DE4;
    width: 411px;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}
.search {
    width: 100px;
    height: 25px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.title {
    color: white;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

}

.klass {
    color: white;
    font-size: 24px;
    margin: 16px;
}

.button {
    height: 50px;
    width: 100px;
}

.item-button {
    width: auto;
    height: 20px;
    background-color: white;
}

.menu-btn {
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    color: black;
    padding: 16px;
    font-size: 24px;
    width: 379px;
    border: black solid 1px;
    user-select: none;
}

.dropdown-menu {
    padding: 16px;
}

.menu-content {
    display: none;
    background-color: #017575;
    min-width: 160px;
    user-select: none;
}

.lesson1, .lesson2, .lesson3 {
    color: black;
    text-decoration: none;
    display: block;
    font-size: 30px;
    border-bottom: 1px solid black;
    user-select: none;
}

.lesson1 {
    background-color: #FF4E4C;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 7px;
}

.upper-half {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lower-half {
    display: flex;
}

.room {
    border-right: solid black 1px;
    margin-right: 1rem;
    padding-right: 1rem;
}